<%= simple_form_for([@company, @message], :html => { :class => 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :company %>
    <%= f.input :title %>
    <%= f.input :link %>
    <%= f.input :date %>
    <%= f.input :content_html %>
    <%= f.input :content_text %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, nil, :class => 'btn btn-primary', :disable_with => t('buttons.wait') %>
    <%= link_to t('buttons.cancel'), company_messages_path(@company), :class => 'btn' %>
  </div>
<% end %>