<% title "Message details" %>

<table class="table table-attributes">
  <tbody>
    <tr>
      <th><%= Message.human_attribute_name(:company) %></th>
      <td><%= link_to @message.company.name, @message.company %></td>
    </tr>
    
    <tr>
      <th><%= Message.human_attribute_name(:title) %></th>
      <td><%= @message.title %></td>
    </tr>
    
    <tr>
      <th><%= Message.human_attribute_name(:link) %></th>
      <td><%= link_to @message.link %></td>
    </tr>
    
    <tr>
      <th><%= Message.human_attribute_name(:date) %></th>
      <td><%= localize @message.date %></td>
    </tr>
    
    <tr>
      <th><%= Message.human_attribute_name(:content_html) %></th>
      <td><%= raw @message.content_html %></td>
    </tr>
    
  </tbody>
</table>


<div class="form-actions">
<%= link_to t('buttons.edit'), edit_company_message_path(@company, @message), :class => 'btn btn-primary' %>
<%= link_to t('buttons.delete'), company_message_path(@company, @message), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
<%= link_to t('buttons.back'), company_messages_path(@company), :class => 'btn' %>
</div>