<% title "Listing stocks" %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= Stock.human_attribute_name(:company) %></th>
      <th><%= Stock.human_attribute_name(:date) %></th>
      <th><%= Stock.human_attribute_name(:open) %></th>
      <th><%= Stock.human_attribute_name(:high) %></th>
      <th><%= Stock.human_attribute_name(:low) %></th>
      <th><%= Stock.human_attribute_name(:close) %></th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <%= content_tag_for(:tr, @stocks) do |stock| %>
      <td><%= stock.company %></td>
      <td><%= stock.date %></td>
      <td><%= stock.open %></td>
      <td><%= stock.high %></td>
      <td><%= stock.low %></td>
      <td><%= stock.close %></td>
      <td>
        <%= link_to t('buttons.show'), company_stock_path(@company, stock), class: 'btn btn-mini btn-primary' %>
        <%= link_to t('buttons.edit'), edit_company_stock_path(@company, stock), class: 'btn btn-mini' %>
        <%= link_to t('buttons.delete'), company_stock_path(@company, stock), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger' %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to t('buttons.new'), new_company_stock_path(@company), class: 'btn btn-primary' %>

<p>
<%= link_to 'Back', companies_path %> |
<%= link_to 'Stocks Import', import_company_stocks_path(@company) %> |
<%= link_to 'Messages Import', import_company_messages_path(@company) %>
</p>
