<% title "Listing companies" %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= Company.human_attribute_name(:name) %></th>
      <th><%= Company.human_attribute_name(:description) %></th>
      <th><%= Company.human_attribute_name(:code) %></th>
      <th><%= Company.human_attribute_name(:messages_url) %></th>
      <th><%= Company.human_attribute_name(:stocks_url) %></th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <%= content_tag_for(:tr, @companies) do |company| %>
      <td><%= company.name %></td>
      <td><%= company.description %></td>
      <td><%= company.code %></td>
      <td><%= link_to "See", company.messages_url %></td>
      <td><%= link_to "See", company.stocks_url %></td>
      <td>
        <%= link_to t('buttons.show'), company, class: 'btn btn-mini btn-primary' %>
        <%= link_to t('buttons.edit'), edit_company_path(company), class: 'btn btn-mini' %>
        <%= link_to t('buttons.delete'), company, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger' %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to t('buttons.new'), new_company_path, class: 'btn btn-primary' %>
