<% title "Company details" %>

<table class="table table-attributes">
  <tbody>
    <tr>
      <th><%= Company.human_attribute_name(:name) %></th>
      <td><%= @company.name %></td>
    </tr>
    
    <tr>
      <th><%= Company.human_attribute_name(:description) %></th>
      <td><%= @company.description %></td>
    </tr>
    
    <tr>
      <th><%= Company.human_attribute_name(:code) %></th>
      <td><%= @company.code %></td>
    </tr>
    
    <tr>
      <th><%= Company.human_attribute_name(:messages_url) %></th>
      <td><%= @company.messages_url %></td>
    </tr>
    
    <tr>
      <th><%= Company.human_attribute_name(:stocks_url) %></th>
      <td><%= @company.stocks_url %></td>
    </tr>
    
  </tbody>
</table>


<div class="form-actions">
<%= link_to t('buttons.edit'), edit_company_path(@company), :class => 'btn btn-primary' %>
<%= link_to t('buttons.delete'), company_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
<%= link_to t('buttons.back'), companies_path, :class => 'btn' %>
</div>