<%% title "Listing <%= plural_table_name %>" %>

<table class="table table-striped">
  <thead>
    <tr>
<% attributes.each do |attribute| -%>
      <th><%%= <%= class_name %>.human_attribute_name(:<%= attribute.name %>) %></th>
<% end -%>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <%%= content_tag_for(:tr, @<%= plural_table_name %>) do |<%= singular_table_name %>| %>
<% attributes.each do |attribute| -%>
      <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
<% end -%>
      <td>
        <%%= link_to t('buttons.show'), <%= singular_table_name %>, class: 'btn btn-mini btn-primary' %>
        <%%= link_to t('buttons.edit'), edit_<%= singular_table_name %>_path(<%= singular_table_name %>), class: 'btn btn-mini' %>
        <%%= link_to t('buttons.delete'), <%= singular_table_name %>, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger' %>
      </td>
    </tr>
    <%% end %>
  </tbody>
</table>

<br />

<%%= link_to t('buttons.new'), new_<%= singular_table_name %>_path, class: 'btn btn-primary' %>
