<% title "Classification details" %>

<table class="table table-attributes">
  <tbody>
    <tr>
      <th><%= Classification.human_attribute_name(:company) %></th>
      <td><%= link_to @classification.company.name, @classification.company %></td>
    </tr>
    
    <tr>
      <th><%= Classification.human_attribute_name(:text) %></th>
      <td><%= @classification.text %></td>
    </tr>
    
    <tr>
      <th><%= Classification.human_attribute_name(:category) %></th>
      <td><%= @classification.category %></td>
    </tr>
    
  </tbody>
</table>


<div class="form-actions">
<%= link_to t('buttons.edit'), edit_company_classification_path(@company, @classification), :class => 'btn btn-primary' %>
<%= link_to t('buttons.delete'), company_classification_path(@company, @classification), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
<%= link_to t('buttons.back'), company_classifications_path(@company), :class => 'btn' %>
</div>