<% title "Classification details" %>

<table class="table table-attributes">
  <tbody>
    <tr>
      <th><%= Classification.human_attribute_name(:company) %></th>
      <td><%= @classification.company %></td>
    </tr>
    
    <tr>
      <th><%= Classification.human_attribute_name(:text) %></th>
      <td><%= @classification.text %></td>
    </tr>
    
    <tr>
      <th><%= Classification.human_attribute_name(:category) %></th>
      <td><%= @classification.category %></td>
    </tr>
    
  </tbody>
</table>


<div class="form-actions">
<%= link_to t('buttons.edit'), edit_classification_path(@classification), :class => 'btn btn-primary' %>
<%= link_to t('buttons.delete'), classification_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
<%= link_to t('buttons.back'), classifications_path, :class => 'btn' %>
</div>